/* center icons on fa-li */
#contact.home-section .fa-li {
    padding-top: inherit;
    top: 50%;
    transform: translateY(-50%);
}

/* inner shadow on portrait */
/* #profile .portrait { */
/*     box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3) inset; */
/* } */

/* align big-icon */
.big-icon {
    vertical-align: top;
}

.pub-list-item .pub-authors {
    display: block;
}
/* author links color */
.pub-authors a {
    color: inherit;
}

/* Event titles */
.pub-publication {
    vertical-align:middle;
}
.pub-publication, .pub-publication a, .event, .event a {
    color: #28a745;
    font-size: 1rem;
}

.publication-title, .talk-title {
    font-weight: bold;
}

.publication-title a, .talk-title a {
    color: inherit;
}

.pub-award {
    color: #dc3545;
    font-size: .9rem;
    margin-left: 1rem;
    vertical-align:middle;
}
.pub-award i {
    color: #dc3545;
}

/* darker even sections */
.home-section:nth-of-type(even) {
    background-color: rgb(243, 243, 243);
}

/* less vertical space */
.home-section {
    padding: 3em 0;
}

// visible shadows on project container borders
.projects-container {
    overflow: visible;
}

// do not display date in project cards
// .project-card .card-simple .article-metadata {
//     display: none;
// }

.project-card .card .card-text h4 {
    margin-top: 0;
}

.project-card .card .card-text h4 a {
    color: black;
}

// center logos in experience section
.card .card-body .d-flex {
    align-items: center;
}

.card .card-body .d-flex .mr-2 {
    margin-right: 1.25rem !important;
}

// center experience bullets
.experience .h-50:first-child {
    height: calc((100% - (1.5rem + 2.5rem)) / 2) !important;
}

.experience .h-50 .col {
    height: 100%;
}

.experience .m-2 {
    display: flex;
}

.col2 {
    column-count: 2;
}
