{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $columns := $block.design.columns | default "1" }}

<!-- Academic service widget -->
<div class="col-12 {{if eq $columns "2"}}col-lg-8 col2{{end}}">
  {{ with $block.content.items }}
    <ul>
      {{ range sort . ".year" "desc" }}
        {{ $link := .url }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .url | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <li>
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>{{ .event | markdownify }}'{{ slicestr .year 2 }}</a>, {{ .role | markdownify}}
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
