{{ $item := .item }}

{{/* Dynamic view adjusts to content type. */}}
{{ $icon_pack := "far" }}
{{ $icon := "fa-file-alt" }}
{{ $show_authors := false }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ if eq $item.Type "post" }}
  {{ $icon = "fa-newspaper" }}
{{ else if eq $item.Type "talk" }}
  {{ $icon = "fa-comment-alt" }}
{{ else if eq $item.Type "publication" }}
  {{ $show_authors = true }}
{{ else if eq $item.Type "project" }}
  {{ $icon_pack = "fas" }}
  {{ $icon = "fa-project-diagram" }}
  {{ $show_authors = true }}
{{ end }}

{{ $has_attachments := partial "functions/has_attachments" $item }}

<div class="view-list-item">
  <i class="{{$icon_pack}} {{$icon}} pub-icon" aria-hidden="true"></i>
  {{ if eq $item.Type "talk" }}
  <span class="talk-title">
  {{ else if eq $item.Type "publication" }}
  <span class="publication-title">
  {{ end }}
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
  {{ if or (eq $item.Type "talk") (eq $item.Type "publication") }}
  </span>
  {{ end }}

  {{ if eq $item.Type "talk" }}
  <div class="article-metadata">
    <span>
      {{ partial "functions/get_event_dates" $item }}
    </span>
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span>{{ . }}</span>
    {{ end }}
    {{ with $item.Params.event }}
    </br>
    <span class="event">
        {{ with $item.Params.event_url }}
        <a href={{ . }} target="_blank">
            {{ end }}
            {{ . | markdownify }}
            {{ if $item.Params.event_url }}
        </a>
        {{ end }}
    </span>
    {{ end }}
  </div>
  {{ end }}

  {{ if and $show_authors $item.Params.authors }}
  <div class="article-metadata">
    {{ partial "page_metadata_authors" $item }}
  </div>
  {{ end }}

  <div class="article-metadata">
      <span class="pub-publication">
          {{ with $item.Params.url_publication }}
          <a href={{ . }} target="_blank">
              {{ end }}
              {{ if $item.Params.publication_short }}
              {{ $item.Params.publication_short | markdownify }}
              {{ else if $item.Params.publication }}
              {{ $item.Params.publication | markdownify }}
              {{ end }}
              {{ if $item.Params.url_publication }}
          </a>
          {{ end }}
      </span>
  {{ with $item.Params.award }}
      <span class="pub-award">
        <i class="fas fa-award pub-icon" aria-hidden="true"></i>{{ . }}
      </span>
  {{ end }}
  </div>

  {{ if $has_attachments }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

</div>
