{{- define "main" -}}

<div class="pub">

  {{ partial "page_header.html" . }}

  <div class="article-container">
    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    {{ if and .Params.publication_types (ne (index .Params.publication_types 0) "0") }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication_type" }}</div>
          <div class="col-12 col-md-9">
            {{ $pub_types := partial "functions/get_pub_types" $ }}
            {{ range $index, $pubtype := .Params.publication_types }}
            <a href="{{ (site.GetPage "section" "publication").RelPermalink }}#{{ . | urlize }}">
              {{ index $pub_types (int .) }}
            </a>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.publication }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication" }}</div>
          <div class="col-12 col-md-9">
            {{ if .Params.publication_short }}
            {{ .Params.publication | markdownify }}
            </br>
            <span class="pub-publication">
              {{ with .Params.url_publication }}
              <a href={{ . }} target="_blank">
                {{ end }}
                {{ .Params.publication_short | markdownify }}
                {{ if .Params.url_publication }}
              </a>
              {{ end }}
            </span>
            {{ else }}
            <span class="pub-publication">
              {{ with .Params.url_publication }}
              <a href={{ . }} target="_blank">
                {{ end }}
                {{ .Params.publication | markdownify }}
                {{ if .Params.url_publication }}
              </a>
              {{ end }}
            </span>
            {{ end }}
            {{ with .Params.award }}
            <span class="pub-award">
              <i class="fas fa-award pub-icon" aria-hidden="true"></i>{{ . }}
            </span>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    <div class="space-below"></div>

    <div class="article-style">{{ .Content }}</div>

    {{ partial "page_footer" . }}

  </div>
</div>
{{- end -}}
